USE [LearningPlatformDB]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 07.06.2026 19:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[author_id] [int] NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[storage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 07.06.2026 19:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Position_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07.06.2026 19:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_result]    Script Date: 07.06.2026 19:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_result](
	[User_result_id] [int] IDENTITY(1,1) NOT NULL,
	[result] [float] NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK__User_res__F6C81D784DBC7E18] PRIMARY KEY CLUSTERED 
(
	[User_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 07.06.2026 19:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoles_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoles_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.06.2026 19:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[surname] [nvarchar](25) NOT NULL,
	[patronymic] [nvarchar](25) NULL,
	[position_id] [int] NULL,
	[email] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](256) NOT NULL,
	[photo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Users__B9BE370F4BE6EB41] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([course_id], [title], [description], [author_id], [date], [storage]) VALUES (2, N'Безопасность', N'Курс по информационной безопасности', 3, CAST(N'2024-11-11T00:00:00.0000000' AS DateTime2), N'bezopasnost')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Position_id], [name]) VALUES (1002, N'Разработчик')
INSERT [dbo].[Position] ([Position_id], [name]) VALUES (1003, N'Сис админ')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (4, N'Администратор')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Обучающийся')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Разработчик')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[User_result] ON 
SET IDENTITY_INSERT [dbo].[User_result] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoles_id], [user_id], [role_id]) VALUES (2, 3, 2)
INSERT [dbo].[UserRoles] ([UserRoles_id], [user_id], [role_id]) VALUES (3, 6, 3)
INSERT [dbo].[UserRoles] ([UserRoles_id], [user_id], [role_id]) VALUES (4, 8, 3)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [name], [surname], [patronymic], [position_id], [email], [password_hash], [photo]) VALUES (3, N'Мария', N'Иереева', N'Александровна', 1002, N'miereeva@yandex.ru', N'mashamasha', NULL)
INSERT [dbo].[Users] ([user_id], [name], [surname], [patronymic], [position_id], [email], [password_hash], [photo]) VALUES (6, N'Пётр', N'Кабков', N'Сергеевич', 1003, N'pkabkov@ra.ru', N'petya', N'user_6.png')
INSERT [dbo].[Users] ([user_id], [name], [surname], [patronymic], [position_id], [email], [password_hash], [photo]) VALUES (8, N'Воронина', N'Валерия', N'Алексеевна', 1003, N'vor.rr@va.ru', N'22222', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B188E63A94]    Script Date: 07.06.2026 19:56:48 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Role]    Script Date: 07.06.2026 19:56:48 ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_User_Role] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164EE175D3D]    Script Date: 07.06.2026 19:56:48 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__AB6E6164EE175D3D] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[User_result]  WITH CHECK ADD  CONSTRAINT [FK_UserResult_Courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_result] CHECK CONSTRAINT [FK_UserResult_Courses]
GO
ALTER TABLE [dbo].[User_result]  WITH CHECK ADD  CONSTRAINT [FK_UserResult_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_result] CHECK CONSTRAINT [FK_UserResult_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Position] FOREIGN KEY([position_id])
REFERENCES [dbo].[Position] ([Position_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Position]
GO

ALTER TABLE [dbo].[Users] ADD [birthday] [date] NULL, [phone] [nvarchar](20) NULL, [status] [nvarchar](20) NOT NULL DEFAULT N'active';
GO
ALTER TABLE [dbo].[User_result] ADD [assignment_id] [int] NULL;
GO

CREATE TABLE [dbo].[Assignments](
    [assignment_id] [int] IDENTITY(1,1) NOT NULL,
    [user_id] [int] NOT NULL,
    [course_id] [int] NOT NULL,
    [assigned_by] [int] NOT NULL,
    [date_from] [date] NOT NULL,
    [date_to] [date] NOT NULL,
    [status] [nvarchar](20) NOT NULL DEFAULT N'active',
    [assigned_at] [datetime2](7) NOT NULL DEFAULT (getdate()),
    PRIMARY KEY ([assignment_id])
);
GO
CREATE TABLE [dbo].[Section_progress](
    [section_progress_id] [int] IDENTITY(1,1) NOT NULL,
    [assignment_id] [int] NOT NULL,
    [section_id] [nvarchar](50) NOT NULL,
    [score] [float] NOT NULL DEFAULT 0,
    [first_attempt_failed] [bit] NOT NULL DEFAULT 0,
    [updated_at] [datetime2](7) NOT NULL DEFAULT (getdate()),
    PRIMARY KEY ([section_progress_id]),
    CONSTRAINT [UQ_Section_progress] UNIQUE ([assignment_id], [section_id])
);
GO
CREATE TABLE [dbo].[Feedback](
    [feedback_id] [int] IDENTITY(1,1) NOT NULL,
    [user_id] [int] NOT NULL,
    [message] [nvarchar](max) NOT NULL,
    [created_at] [datetime2](7) NOT NULL DEFAULT (getdate()),
    PRIMARY KEY ([feedback_id])
);
GO

ALTER TABLE [dbo].[Assignments] ADD CONSTRAINT [FK_Assignments_Users] FOREIGN KEY([user_id]) REFERENCES [dbo].[Users]([user_id]) ON DELETE CASCADE;
ALTER TABLE [dbo].[Assignments] ADD CONSTRAINT [FK_Assignments_Courses] FOREIGN KEY([course_id]) REFERENCES [dbo].[Courses]([course_id]) ON DELETE CASCADE;
ALTER TABLE [dbo].[Assignments] ADD CONSTRAINT [FK_Assignments_AssignedBy] FOREIGN KEY([assigned_by]) REFERENCES [dbo].[Users]([user_id]);
ALTER TABLE [dbo].[Section_progress] ADD CONSTRAINT [FK_Section_progress_Assignments] FOREIGN KEY([assignment_id]) REFERENCES [dbo].[Assignments]([assignment_id]) ON DELETE CASCADE;
ALTER TABLE [dbo].[User_result] ADD CONSTRAINT [FK_UserResult_Assignments] FOREIGN KEY([assignment_id]) REFERENCES [dbo].[Assignments]([assignment_id]);
ALTER TABLE [dbo].[Feedback] ADD CONSTRAINT [FK_Feedback_Users] FOREIGN KEY([user_id]) REFERENCES [dbo].[Users]([user_id]) ON DELETE CASCADE;
GO

